*{
    margin:0;
    padding: 0;
    List-style: none;
    font-family: 'Roboto', sans-serif;
}

.logo{
    color: #fcddaf;
    font-size: 7rem;
    letter-spacing: 0.2rem;
    animation: text 1.5s ease-in-out infinite alternate;
}

@keyframes text{
    0%,30%{
        text-shadow: 
        5px 5px 0px #eb45ab,
        10px 10px 0px #efa032,
        15px 15px 0px #46b59b,
        20px 20px 0px #017e7f,
        25px 25px 0px #0d5370,
        35px 35px 20px #1e1e25,
        50px 50px 40px #131318;
        transform: skewX(-25deg)skewY(2deg);
    }
    90%,100%{
        text-shadow: none;
        transform: none;
    }
}

.header{
    background-color: #555;
}
.header nav{
    text-align: center;
}

.menu{
    color: #fff;
    overflow: hidden;
    display: flex;
    gap: 48px;
    text-align: right;
    
}
.menu a{
    text-decoration: none;
    color: #fff;
    
}
.menu-item {
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    list-style: none;
    text-transform: uppercase;
}

.menu-item::after {
    content: attr(data-content);
    position: absolute;
    bottom: -100%;
    left: 0;
}
 
.menu-item:hover {
    translate: 0px -100%;
}
/* background 區塊 */
.background{
    width: 100%;
    height: 100vh;
    background-color: #ccc;
}
.backgroundcontainer{
    width: 100%;
    /* max-width: 1200px; RWD 偷懶方式 */
    height: 100%;
    margin: 0 auto;
}
.backgroundtext { /* 文字排版 */
    height: 100%;
    display: flex;/* 使下一層容器裡的items橫向排列 */
    flex-direction: column; /* 交錯軸（上到下） */
    justify-content: center; /* 用來控制Flex「水平對齊」的位置，也就是主軸方向以主軸的「起點」和「終點」來做依據 */
    align-items: center; /* 和jusitfy-content的用法類似，但它是用來控制「垂直對齊」的位置，也就是交錯軸方向 */
}
.backgroundtext h1 {
    font-size: 50px;
    border-top: 1px solid #fff;
    padding: 30px;
    color: #fff;
}
.backgroundtext p{
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    font-size: 50px;
    color: #fff;
}
.aboutme{
    margin: 0 auto;
}
.aboutme h1{
    
    text-align: center;
    padding: 20px 0px;
    color: #fff;
    font-size: 30px;
    background-color: #555;

}
.aboutpic{
    box-sizing: border-box; 
}
.aboutme .aboutpic img{
    width: 100%;
    vertical-align: bottom;
}
.abouttext{
    background-color: rgba(171, 162, 156, 0.8);
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: auto;
    padding: 20px;
    
}
.abouttext h3{
    text-align: center;
    font-weight: 900;
    color: #555;
    padding: 20px 0;
}
.abouttext p{
    font-weight: 500;
    color: #555;
    padding: 20px 0;

    display: inline;
    animation: show 3s ease-out forwards;
    /* color: transparent; */
    background-size: 0% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;

}
@keyframes show {
    to {
      background-size: 100% 100%;
    }
}

.skill{
    width: 100%;
}
.skill h1{
    text-align: center;
    padding: 20px 0px;
    color: #fff;
    font-size: 30px;
    background-color: #555;
}
.skilltxt h2{
    text-align: center;
    margin: 20px 0;
}
.skilltxt p{
    text-align: center;
    /* background-color: rgba(167, 151, 140, 0.8); */

}
.skill .skillimg{
    padding: 0 40px;
}
.skill .skillimg img{
    width: 100%;
    margin: 40px auto;
}

.exwrap .exitem img{
    width: 100%;
    margin: 20px auto;
}
.exitem{
    
    margin: 50px;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgb(13, 12, 12);
    transform: translateY(0px);
    transition: 0.5s;
}
.exitem h2{
    border-bottom: 1px solid rgb(7, 7, 7);
	padding-bottom: .3em;
	margin-bottom: .4em;
	font-weight: 900;
    text-align: center;
    transition: .25s;
}
.exitem p{
    line-height: 1.6;
    font-weight: 300;
    text-align: left;
    padding: 0 20px;
}
.exitem:hover{
    transform: translateY(-50px);
}
.exitem:hover .extxt{
    background-color: #ccc;
    color: #fff;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background-image: linear-gradient(90deg, #555, #333);
    color: #fff;
}
@media screen and (min-width:768px){

    .header nav{
        text-align: center;
    }
    .aboutme .aboutcontainer{
        display: flex;
    }
    .aboutcontainer > :first-child{ 
        /* 第一層裡面的第一個物件first-child */
        /* 小常識：原始碼後面的物件會蓋掉前面的 */
        margin-right: -10%;
        /* 為了讓文字可以壓在圖片上，這邊使用子代選取器，選擇第一層第一個物件(看是圖片或是文字)，讓期 margin 為負值，就有交錯的效果。 */
    }
    .abouttext{
        width: 50%;
    }

    .skill{
        width: 100%;
        margin: 0 auto;
    }
    .skill .skillimg{
        padding: 0 20px;
    }
    .skill .skillimg img{
        width: 100%;
    }
    .skillcontainer{
        max-width: 1400px;
        display: flex;
        margin: 0 auto; 
    }

    .exwrap{
        display: flex;
        margin: auto;
        max-width: 1200px;
    }
}





